QComboBox
{
	font-family:Î¢ÈíÑÅºÚ;
	font-size:12px;
	color:white;
	background-color:rgba(230,230,230,50);
	border:1px solid transparent;
	border-radius:3px;
	padding:0px 0px 0px %1px;
}

QComboBox::hover
{
	background-color: rgba(50,50,50,50);
}

QComboBox::pressed
{
	border:1px solid rgba(50,50,50,50);
}

/*
QComboBox:on
{
	padding:0px;
}
*/

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    border-left-width: 1px;
    border-left-color: rgba(50,50,50,50);
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
 
QComboBox::down-arrow {
    image: url(:/res/ui3/arrow_down_normal.png);
}

QWidget:focus
{
	outline: none;
}

QComboBox QAbstractItemView {
    border: 2px solid darkgray;
    selection-background-color: lightgray;
}