QLineEdit{
	left:3px;
	font-family:Î¢ÈíÑÅºÚ;
	font-size:12px;
	color:white;
	background:rgba(245,245,245,50);
	border-width:1px;
	border-style:solid;
	border-color:transparent;
        border-radius:3px;
	selection-background-color:rgba(27, 87, 97, 200);
}

QLineEdit:hover{
	background:rgba(180,180,180,45);
}